*{
    line-height: 22px;
    color: rgb(85, 85, 85);
    font-weight: 400;
    font-size: 16px;
}
.sc-1yeq0cs-0{
    border-top: 1px solid gray;
    padding: 10px 0px;
}
.sc-1yeq0cs-0 h2{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    
    
}

.sc-1yeq0cs-0 p em{
    font-size: 1rem;
    font-weight: 400;
    color: gray;
    padding-bottom: 20px;
    line-height: 0.5;
}
.sc-1yeq0cs-0 p {
    font-size: 1rem;
    font-weight: 400;
    
    padding-bottom: 20px;
    
}

.sc-1yeq0cs-0 ul {
    list-style-type: circle;
    padding: 0;
    margin: 0;  
    padding-left: 25px;
    padding-bottom: 20px;   
}

.sc-1yeq0cs-0 h4 {
    font-size: 1.2rem;
    font-weight: bold;
    
    padding-bottom: 20px;
}

.sc-1yeq0cs-0 a {
    color: #007bff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 20px;
}

.sc-1yeq0cs-0 .sc-8huf4g-2{
    cursor: pointer;
}


.sc-1yeq0cs-0 .sc-8huf4g-2 iframe{
    width: 760px;
    height: 440px;
    padding-bottom: 20px;
    padding-top: 20px;
    cursor: pointer;
}

#teacher{
    background-color: #309a44;
    padding: 50px 30px;
}
    
#teacher h2{
    font-size: 1.5rem;
    border-bottom: 1px solid white;
    padding-bottom: 15px;
}
    
#teacher .sc-1by4a7p-5{
    padding: 10px;    
    border-bottom: 1px solid white;
}

#teacher .sc-1by4a7p-4{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 1rem;;
}
#teacher .sc-gEvEer {
    padding-left: 10px;
    
}
#teacher .ukqtbd0 {
    padding: 10px 0px;
}

#teacher ul{
    margin-left: 50px;
}
#teacher ul li{
    list-style-type: circle;
    font-size: 0.8rem;

}
#teacher .sc-1by4a7p-4 svg {
    width: 15px;
}
#teacher .ukqtbd0{
    font-size: 0.8rem;
}
#teacher *{
    color: white;
}