@tailwind base;
@tailwind components;
@tailwind utilities;

  @font-face {
    font-family: 'cerapro';
    src: url('/fonts/CeraPro-Regular.ttf');
  }

.customShadow{
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.zfull{
  z-index: 100;
}